@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --color-primary: oklch(0.6 0.2 250);
}

body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
}
